.list-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.list-wrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}
.list-search{
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
    
}
.list-title{
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
   
}
.list-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.list-item>label{
    font-size: 15px;
}
.list-item>span{
    height: 20px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.list-item>input{
    height: 20px;
    border: none;
    outline: none;
    padding: 3px;
}
.list-option{
    padding: 10px;
}
.list-option-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 15px;
}
.list-option-input{
    width: 50px;
    border: none;
    outline: none;
}
.list-search>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}
.list-result{
    flex: 3;
}